
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body{
            background-color:#00ff21;
        }
        .archnetsHeader img{
            margin-left:50px;
            margin-top:20px;
        }
        .p3 p{
       margin-top:20px;
         margin-left:250px;
         color:#684040b4;
        }
    </style>
   
</head>
<body>
   <div class="">
     
       <div style="display:flex">
           <div class="archnetsHeader">
               <img src="~/Images/Archents1.jpg" width="250" />
           </div>
           <div class="p3">
               <p>IT Help Desk</p>
           </div>
       </div>
       <div>
           @RenderBody();
       </div>
       <div class="footer">
            </div>
   </div>
</body>
</html>
