.main1 {
    margin-left: 300px;
    margin-top: 150px;
}

p {
    font-size: 2vw;
}
#btn1 {
    border-radius: 20px;
    color: white;
    background-color: black;
}

#NewPassword {
    border-color: black;
}

#ConfirmPassword {
    border-color: black;
}

.bi-eye-slash {
    top: 30%;
    right: 4%;
    cursor: pointer;
}

#togglePassword {
    font-size: 1.3em;
}

#togglePassword {
    margin-right: 469px;
}
.error{
    color:red;
}
