.main1 {
    margin-left: 300px;
    margin-top: 150px;
}

p {
    font-size: 3vw;
}

#btn1 {
    border-radius: 20px;
    color: white;
    background-color: black;
}

#NewPassword {
    border-color: black;
}

#ConfirmPassword {
    border-color: black;
}

.form-group-lg input[type="password"],
.form-group-lg input[type="text"] {
    /*  width: 100%;*/
    /* padding: 12px,36px,12px,12px;*/
    box-sizing: border-box;
}

.conf-pass {
    position: relative
}

.password_inp {
    position: relative;
}
/* #Password {
          width: 300px;
            position: relative;
        }*/
.bi-eye-slash {
    position: absolute;
    top: 10%;
    /* top: 354px;*/
    right: 51%;
    /*right: 41%;*/
    cursor: pointer;
}

#togglePassword {
    font-size: 1.3em;
}
.main1 {
    margin-left: 300px;
    margin-top: 150px;
}

p {
    font-size: 3vw;
}

#btn1 {
    border-radius: 20px;
    color: white;
    background-color: black;
}

#NewPassword {
    border-color: black;
}

#ConfirmPassword {
    border-color: black;
}

.form-group-lg input[type="password"],
.form-group-lg input[type="text"] {
    /*  width: 100%;*/
    /* padding: 12px,36px,12px,12px;*/
    box-sizing: border-box;
}

.conf-pass {
    position: relative
}

.password_inp {
    position: relative;
}
/* #Password {
          width: 300px;
            position: relative;
        }*/
.bi-eye-slash {
    position: absolute;
    top: 10%;
    /* top: 354px;*/
    right: 51%;
    /*right: 41%;*/
    cursor: pointer;
}

#togglePassword {
    font-size: 1.3em;
}
.error{
    color:red;
}