.maindiv {
    margin-left: 500px;
}

.mainmina {
    margin-top: 100px;
}

#TicketNo {
    border-color: black;
}

#Date {
    border-color: black;
}

#Status {
    border-color: black;
}

#Assigned_Person {
    border-color: black;
}

#Query {
    border-color: black;
}

#EmployeeID {
    border-color: black;
}

#fname {
    color: black;
}
